{{<layout.mustache}}
{{$content}}
<h1>About</h1>
<article class="about-card">
    <h2 class="about-name">🧂 {{appName}}</h2>
    <dl class="about-list">
        <dt>Version</dt>
        <dd>{{version}}</dd>
        <dt>Build</dt>
        <dd>{{buildTime}}</dd>
    </dl>
</article>
{{/content}}
{{/layout.mustache}}
