{{<layout.mustache}}
{{$content}}
<p><a href="/users" class="back-link">← Back to users</a></p>
<h1>Add user</h1>
{{#error}}<p class="error-text">{{.}}</p>{{/error}}
<form action="/users" method="post">
    <input type="hidden" name="csrf" value="{{csrfToken}}">
    <label>Username
        <input type="text" name="username" required value="{{prefillUsername}}" autocomplete="off">
    </label>
    <label>Password
        <input type="password" name="password" required autocomplete="new-password">
    </label>
    <label class="checkbox-label">
        <input type="checkbox" name="isAdmin"> Administrator (can manage users)
    </label>
    <button type="submit">Create user</button>
</form>
{{/content}}
{{/layout.mustache}}
